*{
    margin:0;
    box-sizing: border-box;
    /* border: 1px solid yellow; */
}
body {
    position: relative;
    background: none;
    overflow-x: hidden;
}
header {
    height: 100vh;
    width: 100vw;
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/266093216359382416/07CF20EB15887CE985650CC7E21AA14265739958/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside%7C637%3A358&composite-to=*,*%7C637%3A358&background-color=black);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-overlay {
    width:100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    background: rgba(0,0,0,.3);
}
div {
    position: relative;
}
h1, h2, h3, h4, h5, h6, p, nav {
    font-family: 'Patua One', cursive, serif;
}
h1, h2, h3, h4, h5, h6 {
    text-align:center;
    color: white;
    padding: 18px;
    font-weight:600;
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 28px;
    clear:left;
}
h3 {
    font-size:24px;
}
nav {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    text-align: left;
    font-size: 42px;
    margin: 5px 5vh 5vh 5px;
}
nav ul li {
    position: relative;
    margin: 3px;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color:white;
}
nav ul li::before {
    content: ' ';
    position: absolute; 
    height:62px;
    opacity: 0;
    width:100%;
    background: rgba(0,0,0,.8);
    top: -38px;
    right: 55px;
    transform: rotate(-7deg);
    z-index: -1;
    transition: all .3s ease;

}
nav ul li:hover::before {
    opacity: 1;
    width:100%;
    top: 0;
    right: 0;
    transform: rotate(0deg);
}

img, #scoreCircle {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    z-index: 3;
    margin: 0 auto;
    transition: all ease .6s;
}
img {
    z-index: 3;
}

#scoreCircle {
    display:none;
    background: rgb(5, 214, 5);
    z-index: 4;
}
#circleAroundImage1 {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin: 0 auto;
    height:350px;
    width:350px;
    border-radius:50%;
    z-index: 1;

    border: solid 1px white;
    background: rgba(255,255,255,.3);
    filter: blur(5px);

    transition: all ease .6s;   
}
img:hover {
    transform: scale(1.1);
}
img:hover ~ #circleAroundImage1 {
    background: rgba(255,255,255,.8);
}
#score {
    color: white;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    z-index: 5;
}
#scoreHead {
    display:none;
    position: absolute;
    top:95px;
    left: 0;
    right: 0;
    z-index: 5;
}

#fp-container {
    width: 33vw;
    padding: 50px 0 0 50px;

}